.footer__copyright {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  margin-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1280px) {
  .footer__copyright {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .footer__copyright {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}