.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  max-width: 880px;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
}

@media screen and (max-width: 800px) {
  .header__logo {
    max-width: 126px;
    max-height: 24px;

  }

  .header {
    padding-bottom: 32px;
    margin-top: 28px;
  }
}